.regionShape {
  fill: #ccd1be;
  transition: fill 0.15s ease;
}

.regionLabel {
  font-size: 14px;
  pointer-events: none;
}

.regionCenter {
  fill: black;
  opacity: 0.7;
  transition: fill 0.2s ease;
}

.hidden {
  opacity: 0;
  transition: opacity 0.6s;
  pointer-events: none;
}

.region:hover {
  .regionShape {
    fill: #debac1; /* #cc5263 */
  }
  .hidden {
    opacity: 1;
    pointer-events: auto;
  }
}