@use '../../assets/styles/const.scss' as *;

.region {
  transition: fill 0.15s ease;

  &:hover {
    opacity: 1;
    pointer-events: auto;
  }
}

.path {
  transition: stroke 0.4s, stroke-width 0.4s;
}

.region:hover,
.selected {
  .path {
    stroke: black;
    stroke-width: 1;
  }
}

.occupied {
  fill: $olive;

  // &:hover {
  //   fill: $blush;
  // }
}

.neighbor path {
  fill: $blush;
}

.attacked {
  fill: $blush;
}

.liberated {
  path {
    fill: url(#liberatedPattern);
  }
}

.label {
  font-size: 14px;
  font-weight: bold;
  fill: $white;
}

.regionCenter {
  fill: $white;
  transition: fill 0.2s ease;
}

.toggle {
  opacity: 0;
  transition: opacity 0.6s;
  pointer-events: none;
}

.selected,
.region:hover {
  .toggle {
    opacity: 1;
    pointer-events: auto;
  }
}
