.mapContainer {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.map {
  position: relative;
  // background: url('/tvoja-mapa.png') no-repeat center/cover;
}

.grad {
  position: absolute;
  transform: translate(-50%, -50%);
}