.mapContainer {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  cursor: grab;
  position: relative;

  &:active {
    cursor: grabbing;
  }
}

.svgMap {
  position: absolute;
  top: 0;
  left: 0;
}