@use "sass:color";
@use '../../assets/styles/const.scss' as *;

.modalWrapper {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 9;
}

.modalBox {
  position: relative;
  background: $legend;
  padding: 0.75rem 1rem;
  width: 260px;
  border: 2px solid $border;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: $black;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  color: $rose;
}

.text {
  color: $black;
  margin: 6px 0;

  strong {
    color: $black;
  }
}

.attackButton {
  margin-top: 10px;
  padding: 8px 16px;
  background: $rose;
  color: $white;
  border: none;
  transition: background 0.4s ease, transform 0.05s ease;

  &:hover {
    background: color.adjust($rose, $lightness: -15%);
    transform: scale(1.1) rotate(-2deg);
  }
}

.black {
  color: black;
}

.flag {
  width: 3rem;
  vertical-align: middle;
}

.icon {
  width: 2rem;
  vertical-align: middle;
}

.range {
  -webkit-appearance: none;
  background: transparent;
}

/* Chrome / Safari */
.range::-webkit-slider-runnable-track {
  height: 4px;
  background: $rose;
  border-radius: 4px;
}

/* Firefox */
.range::-moz-range-track {
  height: 4px;
  background: $rose;
  border-radius: 4px;
}