@use '../../assets/styles/const.scss' as *;

.text {
  color: $black;
  margin: 6px 0;

  strong {
    color: $black;
  }
}

.attackButton {
  margin-top: 10px;
  padding: 8px 16px;
  background: $rose;
  color: $white;
  border: none;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background: $blush;
  }
}