@use './assets/styles/const.scss' as *;

.legend {
  position: fixed;
  width: 300px;
  bottom: 1rem;
  left: 1rem;
}

.button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  background-color: $ash;
}