@use './assets/styles/const.scss' as *;

body {
  margin: 0;
  color: $black;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

button, input, select {
  font-family: inherit;
  font-size: inherit;
}

input, select {
  border: none;
  background-color: white;
}

select, button {
  cursor: pointer;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.2s;
  padding: 0.75rem 1.25rem;

   &:hover {
    filter: brightness(1.2);
  }
}

img {
  max-width: 100%;
}