@use "sass:color";
@use '../../assets/styles/const.scss' as *;

/* BUTTONS */

.button {
  margin-top: 10px;
  padding: 0.5rem 1rem;
  background: $rose;
  color: $white;
  border: none;
  transition: background 0.4s ease, transform 0.05s ease;
  
  &:hover {
    background: color.adjust($rose, $lightness: -15%);
    transform: scale(1.1) rotate(-2deg);
  }
}

.roundButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  background-color: $ash;
}

/* MODALS */

.blackModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.9);
  padding: 2rem;
  border-radius: 1rem;
  z-index: 9;
  min-width: 300px;
  
  h2 {
    margin: 0 0 1rem 0;
    color: $rose;
  }
  
  p {
    margin: 0 0 1.5rem 0;
    color: $rose;
  }
}

.message {
  position: fixed;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0;
  background: $legend;
  padding: 0.75rem 1rem;
  border: 2px solid $olive-dark;
}
