@use "sass:color";
@use '../../assets/styles/const.scss' as *;

.button {
  margin-top: 10px;
  padding: 0.5rem 1rem;
  background: $rose;
  color: $white;
  border: none;
  transition: background 0.4s ease, transform 0.05s ease;
  
  &:hover {
    background: color.adjust($rose, $lightness: -15%);
    transform: scale(1.1) rotate(-2deg);
  }
}

.blackModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.9);
  padding: 2rem;
  border-radius: 1rem;
  z-index: 9;
  min-width: 300px;
  
  h2 {
    margin: 0 0 1rem 0;
    color: $rose;
  }
  
  p {
    margin: 0 0 1.5rem 0;
    color: $rose;
  }
}

